<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header id="header">
  <div id="header_left">
    <div id="logo"><a href="/weeclass"><img src="/images/logo.png"></a></div>
  </div>
  <div id="header_right">
    <ul id="menuList">
      <% if(isAdmin == 'admin') {%>
        <li class="selectList"><a href="/weeclass/admin">관리자</a></li>
      <% } %>
      <li class="selectList"><a href="/weeclass/onlinesangdam">온라인상담</a></li>
      <li class="selectList"><a href="/weeclass/sangdam">상담신청</a></li>
      <li class="selectList"><a href="/weeclass/rules">이용수칙</a></li>
      <% if(userId) {%>
      <li class="menu selectList">
        <span><%= userId%></span>
        <ul class="sub up">
          <li>
            <a href="/weeclass/my_page?uid=<%= userId%>">마이페이지</a>
          </li>
          <li>
            <a href="/weeclass/logout">로그아웃</a>
          </li>
        </ul>
      </li>
      <% } else {%>
        <li id="login" class="selectList"><a href="/weeclass/login">로그인</a></li>
        <li id="signup" class="selectList"><a href="/weeclass/signup">회원가입</a></li>
      <% } %>
    
    </ul>
  </div>
  <script src="/js/myPage.js"></script>
</header>