<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/rules.css">
    <title>이용수칙</title>
</head>

<body>
    <%- include('header', {userId: userId, isAdmin: isAdmin}) %>
    <div class="container">
        <div class="title">Wee class</div>
        <div class="line">
            <div class="text">
                <div class="wee">
                    1. 상담 예약은 직접 방문 또는 온라인 신청
                </div><br>
                <div class="wee">
                    2. 점심시간, 쉬는시간 상담을 우선으로 합니다.
                </div><br>
                <div class="wee">
                    3. 수업시간 상담 시 사전에 담임, 교과 선생님께 양해를 구하고 협조요청서에 싸인을 반드시 받아옵니다.
                </div><br>
                <div class="wee">
                    4. 상담은 최소 하루 전에 예약 합니다. (위기상담 제외)
                </div><br>
                <div class="wee">
                    5. 점심시간 개방은 수요일 13:00 ~ 13:40
                </div>
                    
                    
                    
                    
                
            </div>
        </div>
    </div>
</body>

</html>